<section>
    <h2>TRAINING REGISTRATION DETAILS</h2>
    <label>Enter Full Name:</label>
    <input type="text" id="fname"><br><br>
    <label>Enter Email Id:</label>
    <input type="email" id="emailId"><br><br>
    <label>Enter Mobile number:</label>
    <input type="number" id="mobile"><br><br>
    <label>Set Username:</label>
    <input type="text" id="uname"><br><br>
    <label>Set Password:</label>
    <input type="password" id="pass"><br><br>
    <label>Confirm Password:</label>
    <input type="password" id="cpass"><br><br>
    <input type="submit" value="REGISTER"> 
    <input type="reset" > <br><br>
    <p>
        Existing User?? <a routerLink="/login"> click here to login</a>
    </p>
</section>
