<section>
    <h2>about-background
        Industries We Serve</h2>
        <figure>
            <img src="assets/Images/ecosystem.png" height="100" width="300"> 
            <figcaption>NEOSOFT</figcaption>
        </figure>
    <div>
        <p>
            NeoSOFT brings in deep domain and industry experience to build 
            unique perspectives and meet the challenging requirements 
            of clients from diverse industries. Leveraging the unique triple bottom line approach, we have achieved tangible results and unlocked opportunities for growth, innovation, and value creation.
        </p>
        <p>
            We partner with educators and institutes to improve 
            student's learning experience and build cohesive platforms 
            for cultivating enduring experiences.
        </p>

       
    </div>
    <div>
        <form #addForm="ngForm" (submit)="addNums(addForm)">
            <input type="number" name="num1" ngModel> +
            <input type="number" name="num2" ngModel>
            <input type="submit" value="=">
            <span>{{addition}}</span>
        </form>
    </div>
    <hr>
    <div>
        <button (click)="getCounter()">INCREMENT</button>
        <p>Counter value from service : {{count}}</p>
    </div>
</section>
