<section>
    <h2>ALL USERS</h2>
    <table border="3" >
        <thead>

        </thead>
        <tbody>
            <tr *ngFor="let user of userArray">
                <td>{{user.id}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.emailId}}</td>
                <td>{{user.mobileNumber}}</td>
                <td>{{user.username}}</td>
                <td><a [routerLink]="['/edit', user.id ]">EDIT</a></td>
            <!--     <td><button (click)="deleteUser(user.id)">DELETE</button></td> -->
            </tr>
        </tbody>
    </table>
   
</section>
<table border="3" mat-table [dataSource]=userArray>
    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>