<section>
    <h2>LOGIN DETAILS</h2>
    <form #loginForm="ngForm" (submit)="collectData(loginForm)">
        <label>Username:</label>
        <input type="text" name="username" ngModel><br><br>
        <label>Password:</label>
        <input type="password" name="pass" ngModel><br><br>
        <input type="submit" value="LOGIN">
        <input type="reset"><br><br>
        <p>
            New User?? <a routerLink="/register"> click here to register</a>
        </p>
    </form>
    <div>
        <button (click)="getC()">INCREMENT</button>
        <p>Counter is : {{cc}}</p>
    </div>
</section>
